[Desktop Entry]
Version=1.0
Name=ChatGPT
Comment=Web App
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON="face-embarrassed-symbolic" /var/lib/flatpak/exports/bin/io.gitlab.librewolf-community --class WebApp-ChatGPT6271 --name WebApp-ChatGPT6271 --profile /home/sbaka/.var/app/io.gitlab.librewolf-community/data/ice/librewolf/ChatGPT6271 --no-remote --private-window "https://chat.openai.com"'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=face-embarrassed-symbolic
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-ChatGPT6271
StartupNotify=true
X-WebApp-Browser=LibreWolf (Flatpak)
X-WebApp-URL=https://chat.openai.com
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=true
X-WebApp-Isolated=true
