[Desktop Entry]
Version=1.0
Name=Gemini
Comment=Web App
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON="face-devilish-symbolic" /var/lib/flatpak/exports/bin/io.gitlab.librewolf-community --class WebApp-Gemini4790 --name WebApp-Gemini4790 --profile /home/sbaka/.var/app/io.gitlab.librewolf-community/data/ice/librewolf/Gemini4790 --no-remote "https://gemini.google.com"'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=face-devilish-symbolic
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Gemini4790
StartupNotify=true
X-WebApp-Browser=LibreWolf (Flatpak)
X-WebApp-URL=https://gemini.google.com
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
