[Desktop Entry]
Version=1.0
Name=Odysee
Comment=Web App
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON="webapp-manager" /var/lib/flatpak/exports/bin/io.gitlab.librewolf-community --class WebApp-Odysee4168 --name WebApp-Odysee4168 --profile /home/sbaka/.var/app/io.gitlab.librewolf-community/data/ice/librewolf/Odysee4168 --no-remote "https://odysee.com/"'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=webapp-manager
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Odysee4168
StartupNotify=true
X-WebApp-Browser=LibreWolf (Flatpak)
X-WebApp-URL=https://odysee.com/
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
